* {
    background-color: black;
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
.banner-title {
    width: 40%;
    border: 2% black;
    padding: 1%;
    margin: 1%;
    background-color: black;
    word-wrap: normal;
    position: absolute;
    font-size: 5vw;
    font-family: "Georgia", serif;
    right: 15%;
    top: 3%; 
    transform: translate(-50% 50%);
}

.banner-blurb {
    width: 50%;
    border: 1% black;
    padding: 0.1%;
    margin: 1%;
    font-size: 2vw;
    position: absolute;
    right: 10%;
    top: 75%;
    transform: translate(-50% 50%);
}

h1 {
    color: orange;
}

p {
    color: white;
    font-size: 24px;
}

.navigation {
    position: relative;
    background-color: gray;
    font-size: 30px;
    overflow: hidden;
    text-align: center;
}

.navigation a {
    display: inline;
    float: none;
    text-align: center;
    color: white;
    padding: 10px;

}

.navigation a:hover {
    background-color: white;
    color: orange
}

.navigation a.active {
    background-color: orange;
    color: black;
}

.holmes-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-color: gray;
    fill: gray;
    justify-content: center;
    align-content: flex-end;
    background-color: gray;
    gap: 15px;
    padding: 10px;
    text-align: center;
}

.poirot-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    border-color: gray;
    fill: gray;
    justify-content: center;
    align-content: flex-end;
    background-color: gray;
    gap: 15px;
    padding: 10px;
    text-align: center;
}



.footer {
    display: flex;
    color: white;
    border: 10px;
    border-color: white;
    padding: 10px;
    margin: 20px;
    font-size: 25px;
    flex-direction: row;
    justify-content: space-around;
}

.contact {
    color: white;
    background-color: gray;
    padding: 15px;
    font-size: 32px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: 15px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    color: white;
    font-size: 24px;
}

input[type=submit] {
    background-color: orange;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
    margin: 10px;
  }

.breadcrumb{
    font-size: 24px;
    
}

.book-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50em;
    width: 35em;
}

@media screen and (max-width: 800px) {
    .poirot-container, .holmes-container {
        width: 20%;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .book-image {
        width: 25%;
        height: auto;
    }
}